@font-face { 
    font-family: 'Open Sans Regular'; 
    src: url('OpenSans-Regular.ttf');
}
@font-face { 
    font-family: 'Open Sans Bold'; 
    src: url('Open Sans Bold.ttf');
}
@font-face { 
    font-family: 'Open Sans SemiBold'; 
    src: url('Open Sans SemiBold.ttf');
}
@font-face { 
    font-family: 'Open Sans Light'; 
    src: url('Open Sans Light.ttf');
}
body {
    font-size: 1em;
    font-family: 'Open Sans Light';
}
header {
    width: 100%;
    margin: auto;
}
.burgerMenu, .logo-image-for-tablet, #search-for-tablet {
    display: none;
}
.logo-and-contacts, .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-and-contacts {
    position: relative;
    width: 90%;
    margin: 40px 10% 40px 10%;
}
.logo-image {
    width: 30%;
}
.logo-image img{
    width: 300px;
    height: 80px;
}
.contacts {
    position: absolute;
    bottom: 0;
    right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contacts-item {
    padding: 0 20px 0;
}
.contacts-item:not(:first-of-type) {
    border-left: 1px solid #eceef4;
}
#location {
    position: relative;
}
#location:before, #location:after{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
  /* стили для всплывающего блока с текстом */
#location:before{
    content: attr(data-tooltip);
    width: 175px;
    height: 40px;
    padding: 0px 5px;
    line-height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 18px 0px rgba(196, 196, 196, 0.75); 
    bottom: 60px;
    left: -80%;
}
  /* стили для стрелки */
#location:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: rgb(255, 255, 255);
    bottom: 40px;
    left: 35%;
}
#location:hover:before, #location:hover:after {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s, visibility .5s ease;
}
.contacts-item svg path {
    fill: rgb(114, 114, 114);
}
.contacts-item:hover svg path{
    fill: rgb(102, 143, 255);
    transition: fill 0.5s ease;
}
nav {
    border-top: 1px solid #eceef4;
}
.menu {
    width: 90%;
    margin: auto;
}
.menu ul {
    display: flex;
    height: 85px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.menu li{
    display: flex;
    white-space: nowrap;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans Bold";
    padding-right: 20px;
}
.menu li:not(:first-of-type) {
    border-left: 1px solid #eceef4;
    padding-left: 20px;
}
a {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(116, 116, 116);
    font-weight: bold;
}
.arrow {
    opacity: 0;
    transition: opacity .5s ease;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent; 
    border-bottom: 10px solid rgb(91, 157, 255);
}
li :hover {
    color: rgb(91, 157, 255);
    transition: all .5s ease;
}
li :hover + .arrow {
    opacity: 1;
}
.search {
    padding-left: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    
}
.search input {
    font-family: "Open Sans Light";
    font-size: 0.9rem;
    width: 110px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
}
.section-title {
    height: 885px;
    background-image: url(img/iback.jpg);
    background-position: 50% 65%;
    color: white;
}
h1 {
    margin-top: 0;
    margin-bottom: -10px;
    font-size: 3.7rem;
}
.title {
    position: relative;
    z-index: 1;
    padding-top: 250px;
    text-transform: uppercase;
    font-family: "Open Sans Bold";
    margin-left: 19%;
}
.title-text {
    position: relative;
    z-index: 0;
    margin-left: 29%;
    font-size: 3.2rem;
}
.title-symbol {
    position: absolute;
    z-index: -1;
    top: -90px;
    margin-left: -12%;
    font-size: 8.4rem;
    font-family: "Open Sans Bold";
    color: rgb(134, 231, 255);
    opacity: .5;  
}
.slider {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.slider-img {
    width: 320px;
    height: 240px;
    display: flex;
    align-items: flex-end;
}
.slider-btn {
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
}
.slider-btn svg path {
    fill: rgb(212, 212, 212);
}
.slider-btn:hover svg {
    fill: rgb(255, 255, 255);
    transition: fill .5s ease;
}
.slider-btn:hover {
    background-color: rgb(180, 180, 180);
    transition: background-color .5s ease;
}
#slider-img-1 {
    background-image: url(img/slider-img-1.png);
}
#slider-img-2 {
    background-image: url(img/slider-img-2.png);
}
.slider-img-like {
    opacity: 90%;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}
#slider-img-1 svg path {
    fill: rgb(173, 255, 99);
}
#slider-img-1:hover p{
    color: rgb(255, 255, 255);
    transition: color .5s ease;
}
#slider-img-1:hover svg path{
    fill: rgb(255, 255, 255);
    transition: fill .5s ease;
}
#slider-img-2 svg path {
    fill: rgb(204, 152, 0);
}
#slider-img-2:hover p{
    color: rgb(255, 255, 255);
    transition: color .5s ease;
}
#slider-img-2:hover svg path{
    fill: rgb(255, 255, 255);
    transition: all .5s ease;
}
.slider-img-like p{
    margin-left: 10px;
}
#slider-like-1 {
    background-color: #8aca51;
    color: rgb(252, 252, 252);
}
#slider-like-2 {
    background-color: #ffea75;
    color: rgb(204, 152, 0);
}
.articles {
    display: flex;
    justify-content: center;
    color: grey;
}
@media (max-width: 1097px) {
    .articles {
        padding-top: 60px;
    }
}
article {
    width: 35%;
    display: flex;
    flex-direction: row;
    margin: 0 4% 0 4%;
}
.article-img {
    margin-right: 15px;
}
h2 {
    font-family: "Open Sans Bold";
    font-size: 1.3rem;
}
footer {
    height: 250px;
}
@media (max-width: 1000px) {
    .logo-and-contacts,nav,.slider {
        display: none;
    }
    header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 5px 0px 10px 0px;
    }
    .logo-image-for-tablet {
        display: flex;
        justify-content: center;
        flex-basis: 70%;
    }
    .burgerMenu {
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    .burgerMenu svg {
        padding-bottom: 10px;
    }
    #search-for-tablet {
        display: inherit;
        padding-left: 0;
        padding-bottom: 0;
        flex-basis: 15%;
    }
    .search svg {
        transform: scale(0.8);
    }
    .search input {
        font-size: 0.9rem;
    }
    .section-title {
        height: 740px;
    }
    h1 {
        font-size: 2.7rem;
    }
    .title-text {
        font-size: 2rem;
    }
    .title-symbol {
        font-size: 6.6rem;
        top: -80px;
        margin-left: -15%;
    }
    .articles {
        padding-top: 0px;
        margin-top: -20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    article {
        width: 80%;
        font-size: 1rem;
        margin: 25px 0;
    }
    h2 {
        font-size: 1.2rem;
    }
}