body {
    padding: 30px;
  }
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    background: lightblue;
    flex-basis: 100%;
  }
  section {
    background: lightgreen;
    flex-basis: 75%;
  }
  article {
    background: white;
    margin: 0;
  }
  aside {
    background: pink;
    flex: 1 2;
  }
  header, article, section, .module {
    padding: 15px;
  }