body {
    font-family: Arial;
    color: rgb(109, 107, 141);
}
#titles {
    font-size: 12px;
    text-transform: uppercase;
}
th {
    padding: 8px 0;
}
td {
    padding: 20px 25px;
} 
.row {
    transition: all 0.2s ease;
}