#sun {
    -webkit-mask-image: url(https://avatanplus.com/files/resources/mid/567b2c3a52b3b151d124c3e3.png);
    -webkit-mask-size:600px;
    height: 400px;
}
.grow-tree {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#lists {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
#tree {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}