footer {
    background-color: rgb(255, 151, 31);
    position: absolute;
    width: 100%;
    height: 55px;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.info-tasks {
    margin-left: 4%;
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.about-board {
    margin-left: auto;
    margin-right: 4%;
}