@import url('/src/styles/header.css');
@import url('/src/styles/main.css');
@import url('/src/styles/footer.css');
@font-face {
    src: url(/src/fonts/Whitney\ Light\ Regular.ttf);
    font-family: "Whitney";
}
body {
    font-family: "Whitney";
    margin: 0;
    font-size: 1em;
    color: white;
}